body {
  color: #FFFFFF;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

a:link {
  color: #FFFFFF;
  text-decoration: none;
  font-family: sans-serif;
}

a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #FF9900;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a.block:link {
  color: white;
  background-color: #003e80;
  text-decoration: none;
  display: inline-block;
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  margin-left: 20px;
  border: 2px solid #FFFFFF;
}

a.block:visited {
  color: white;
  text-decoration: none;
}

a.block:hover {
  color: white;
  text-decoration: none;
}

a.block:active {
  color: white;
  text-decoration: none;
}
