body {
  background-color: #003e80;
  font-family: sans-serif;
}

a:link {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Verdana", "Geneva", sans-serif;
}

a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #FF9900;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

#left {
    position: relative;
    float: left;
    margin-right: 5px;
    margin-left: 50px;
    border: none;
    width: 185px;
    height: 410px;
    overflow: hidden;
}

#right {
    position: relative;
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    border: none;
    width: 60%;
    height: 410px;
    overflow: hidden;
}

div.panel {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}

img.tile {
    height: 80px;
    width: 180px;
    margin-top: 2px;
    margin-bottom: 2px;
}
